extends layout

block content
    .inner
    form(action="/account" method="POST")
        label(for="name") Name
        input(type="text" name="name" value=user.name)
        p
        label(for="email") Email
        input(type="text" name="email" value=user.email)
        p
        input.button(type="submit" value="Update My Account")

