extends layout

block content
    .inner
        h2= title
        form.form(action="/register" method="POST")
            label(for="name") Name
            input(type="text" name="name" placeholder="John Doe" require)
            label(for="email") Email
            input(type="email" name="email" placeholder="example@email.com" required)

            label(for="password") Password
            input(type="password" name="password" placeholder="******")

            label(for="password-confirm") Confirm Password
            input(type="password" name="password-confirm" placeholder="******")
            p
            input.button(type="submit" value="Register")
